$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desxtop-xl: 1400px;

$c-primary: #4535C1;
$c-secundary: #478CCF;

$c-black: #000;
$c-white: #fff;

$slim: 300;
$regular: 400;
$bold: 700;
$black: 900;

